@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Usuario Bloqueado";
}

<hgroup>
    <h1 class="text-danger">Usuario Bloqueado.</h1>
    <h2 class="text-danger">Su cuenta ha sido bloqueada, por favor intente de nuevo mas tarde..</h2>
</hgroup>
